In [1]:
import pandas as pd

In [33]:
df = pd.read_csv("/Users/bishalregmi/Downloads/RDC_Inventory_Hotness_Metrics_Zip_History.csv", dtype='object')[:-1]
df.head(5)

,month_date_yyyymm,postal_code,zip_name,nielsen_hh_rank,hotness_rank,hotness_rank_mm,hotness_rank_yy,hotness_score,supply_score,demand_score,...,median_dom_yy_day,median_dom_vs_us,ldp_unique_viewers_per_property_mm,ldp_unique_viewers_per_property_yy,ldp_unique_viewers_per_property_vs_us,median_listing_price,median_listing_price_mm,median_listing_price_yy,median_listing_price_vs_us,quality_flag
0,201811,28043,"forest city, nc",5891,3041,-3123,-5644,74.49462641,67.93756397,81.05168884,...,-30,-13,0.290277991,0.647349165,1.432266466,139350,0.095734224,0.072541851,0.472372881,0
1,201811,28167,"union mills, nc",16660,13954,-196,729,14.99808086,2.610030706,27.38613101,...,30.75,107.25,-0.009912812,0.112182913,0.641764457,342175,0.023097623,0.285285003,1.159915254,0
2,202006,78412,"corpus christi, tx",1967,7636,441,2309,44.17879418,15.50781551,72.84977285,...,56.5,42,0.088300003,0.875462535,1.321467155,236575,0.100348837,0.230559168,0.696013533,0
3,202006,78413,"corpus christi, tx",2109,1809,-251,-5375,79.01362901,66.80526681,91.22199122,...,-20.5,-21,0.156131439,1.696413619,1.903664392,240075,-0.014065708,0.003658027,0.70631068,0
4,202006,78402,"corpus christi, tx",24810,12309,-676,3465,10.04851005,2.864402864,17.23261723,...,136.5,124.5,0.555310202,0.200832793,0.550013145,106225,0.329474343,0.254132231,0.312518388,1

In [52]:
df['postal_code'] = df['postal_code'].str.zfill(5)

In [53]:
df['month_date_yyyymm'] = pd.to_datetime(df['month_date_yyyymm'], format='%Y%m')
df.sort_values(['postal_code', 'month_date_yyyymm'], inplace=True)
most_recent_idx = df.groupby('postal_code')['month_date_yyyymm'].idxmax()
most_recent_rows = df.loc[most_recent_idx]
most_recent_rows['postal_code'] = most_recent_rows['postal_code'].str.zfill(5)

In [54]:
nj_df = most_recent_rows[most_recent_rows['postal_code'].str.startswith(('07', '08'))]
ny_df = most_recent_rows[most_recent_rows['postal_code'].str.startswith(('10', '11', '12', '13', '14'))]
ct_df = most_recent_rows[most_recent_rows['postal_code'].str.startswith(('06'))]

In [55]:
all_df = pd.concat([nj_df, ny_df, ct_df], axis=0)
all_df

,month_date_yyyymm,postal_code,zip_name,nielsen_hh_rank,hotness_rank,hotness_rank_mm,hotness_rank_yy,hotness_score,supply_score,demand_score,...,median_dom_yy_day,median_dom_vs_us,ldp_unique_viewers_per_property_mm,ldp_unique_viewers_per_property_yy,ldp_unique_viewers_per_property_vs_us,median_listing_price,median_listing_price_mm,median_listing_price_yy,median_listing_price_vs_us,quality_flag
180617,2023-03-01,07001,"avenel, nj",8472,722,NaN,-3493,85.79028133,95.47826087,76.10230179,...,-10.75,-29.75,0.373433244,0.011561554,1.383360302,427425,-0.100109111,0.221563304,1.006902319,0
180813,2023-03-01,07002,"bayonne, nj",112,2608,-737,-142,65.57544757,79.8056266,51.34526854,...,19,-16.5,0.117445863,-0.129150308,0.963930417,474500,0.07865424,0.076268784,1.117798796,1
180655,2023-03-01,07003,"bloomfield, nj",756,1528,1228,-44,75.79028133,62.52685422,89.05370844,...,18,-7.75,-0.024039457,-0.156236329,1.792212287,479000,0.033441208,0.168294108,1.128399628,0
81646,2022-11-01,07004,"fairfield, nj",11221,1264,687,757,81.42724118,68.45847795,94.3960044,...,23.75,-10,-0.104854798,-0.118966495,2.157792681,628475,0.017855697,0.005720915,1.507134293,1
180895,2023-03-01,07005,"boonton, nj",7585,4865,4694,4219,49.80051151,22.20971867,77.39130435,...,54.75,23.25,-0.338194775,-0.474668091,1.410843389,1138750,0.782081377,0.921940928,2.682599324,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128946,2023-03-01,06902,"stamford, ct",275,377,217,-1501,91.1713555,92.98209719,89.36061381,...,-3.5,-26.5,-0.041677833,-0.160486749,1.811000468,679250,0.253228782,0.598235294,1.600136633,1
129004,2023-03-01,06903,"stamford, ct",8531,322,-1942,22,92.08184143,87.05882353,97.10485934,...,13,-21.5,0.097384378,-0.291025819,2.532302799,1504500,-0.232642652,0.672688865,3.544211357,1
128977,2023-03-01,06905,"stamford, ct",5851,197,-1771,-178,94.57800512,91.40664962,97.74936061,...,10.75,-25,0.201354782,-0.06100602,2.684088587,750000,-0.052432091,0.230516817,1.766805263,0
120644,2022-10-01,06906,"stamford, ct",10301,2476,NaN,-426,70.76035528,58.54569602,82.97501453,...,6.5,-5.5,-0.125766767,-0.231131704,1.61532563,554500,-0.054157783,0.144596966,1.304705882,0
95600,2022-12-01,06907,"stamford, ct",10033,161,NaN,NaN,94.81688392,99.50341403,90.13035382,...,-12.5,-37.5,0.242975743,-0.011455551,1.841182737,425000,-0.127757825,-0.103848181,1.048790991,1

In [57]:
len(ny_df), len(nj_df), len(ct_df)

(1212, 522, 239)

In [56]:
1792+759+277

2828

,month_date_yyyymm,postal_code,zip_name,nielsen_hh_rank,hotness_rank,hotness_rank_mm,hotness_rank_yy,hotness_score,supply_score,demand_score,...,median_dom_yy_day,median_dom_vs_us,ldp_unique_viewers_per_property_mm,ldp_unique_viewers_per_property_yy,ldp_unique_viewers_per_property_vs_us,median_listing_price,median_listing_price_mm,median_listing_price_yy,median_listing_price_vs_us,quality_flag
658028,2019-10-01,14502,"macedon, ny",9283,1261,290,1182,85.41531683,71.36840741,99.46222625,...,23.2725,-15.7275,-0.025505827,0.595256955,3.074638439,219900,-0.024696087,0.011266958,0.709469269,0

In [40]:
most_recent_rows.columns

Index(['month_date_yyyymm', 'postal_code', 'zip_name', 'nielsen_hh_rank',
       'hotness_rank', 'hotness_rank_mm', 'hotness_rank_yy', 'hotness_score',
       'supply_score', 'demand_score', 'median_days_on_market',
       'median_days_on_market_mm', 'median_dom_mm_day',
       'median_days_on_market_yy', 'median_dom_yy_day', 'median_dom_vs_us',
       'ldp_unique_viewers_per_property_mm',
       'ldp_unique_viewers_per_property_yy',
       'ldp_unique_viewers_per_property_vs_us', 'median_listing_price',
       'median_listing_price_mm', 'median_listing_price_yy',
       'median_listing_price_vs_us', 'quality_flag'],
      dtype='object')

/var/folders/9y/dmmr14sx0_9f0fz6m10qf4000000gn/T/ipykernel_14693/3899494299.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tem['state'] = tem['zip_name'].str.split(',')
/var/folders/9y/dmmr14sx0_9f0fz6m10qf4000000gn/T/ipykernel_14693/3899494299.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tem['s'] = tem['state'].apply(lambda x: x[1].strip())

,postal_code,zip_name,demand_score,hotness_score,median_days_on_market,median_listing_price,supply_score,demand_score,state,s
203756,06001,"AVON, CT",99.35549872,56.21994885,97.5,1100000.00,13.08439898,99.35549872,"[AVON, CT]",CT
114951,06002,"BLOOMFIELD, CT",99.7544757,96.53196931,26.5,350782.50,93.30946292,99.7544757,"[BLOOMFIELD, CT]",CT
114950,06010,"BRISTOL, CT",98.49616368,89.54475703,36.5,394500.00,80.59335038,98.49616368,"[BRISTOL, CT]",CT
136244,06013,"BURLINGTON, CT",90.42580208,45.79277068,138,663699.75,1.15973927,90.42580208,"[BURLINGTON, CT]",CT
533101,06016,"BROAD BROOK, CT",58.16993464,29.42151985,163.25,454800.00,0.673105063,58.16993464,"[BROAD BROOK, CT]",CT
...,...,...,...,...,...,...,...,...,...,...
204386,14895,"WELLSVILLE, NY",60.49104859,31.48849105,151.5,102450.00,2.485933504,60.49104859,"[WELLSVILLE, NY]",NY
221988,14901,"ELMIRA, NY",72.78772379,80.85421995,30.5,65500.00,88.92071611,72.78772379,"[ELMIRA, NY]",NY
256751,14903,"ELMIRA, NY",63.94431143,54.65105968,67,169450.00,45.35780793,63.94431143,"[ELMIRA, NY]",NY
222062,14904,"ELMIRA, NY",63.45780051,56.65473146,52,94700.00,49.8516624,63.45780051,"[ELMIRA, NY]",NY
59490,14905,"ELMIRA, NY",95.35337412,90.93287222,47,194900.00,86.51237031,95.35337412,"[ELMIRA, NY]",NY

In [71]:
final_df = most_recent_rows[['postal_code', 'zip_name', 'demand_score', 'hotness_score', 'median_days_on_market', 'median_listing_price', 'supply_score', 'demand_score']].fillna('')
final_df['zip_name'] = final_df['zip_name'].str.upper()
final_df['median_listing_price'] = pd.to_numeric(final_df['median_listing_price'])
dat = final_df.to_dict(orient='records')
final_dat = {d['postal_code'] : d for d in dat}

/var/folders/9y/dmmr14sx0_9f0fz6m10qf4000000gn/T/ipykernel_14693/515865833.py:4: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  dat = final_df.to_dict(orient='records')

In [91]:
tem= final_df[final_df['zip_name'].notna() & (final_df['zip_name'] != '')]
tem['state'] = tem['zip_name'].str.split(',')
tem['s'] = tem['state'].apply(lambda x: x[1].strip())
tem_filt = tem[tem['s'].isin(['NY','NJ','CT'])]
dat2= tem_filt.to_dict(orient='records')
tem_dat = {d['postal_code'] : d for d in dat2}
with open('zip_summary_filtered.json', 'w') as f:
    json.dump(tem_dat, f, default=lambda x: 'null')

/var/folders/9y/dmmr14sx0_9f0fz6m10qf4000000gn/T/ipykernel_14693/1741084413.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tem['state'] = tem['zip_name'].str.split(',')
/var/folders/9y/dmmr14sx0_9f0fz6m10qf4000000gn/T/ipykernel_14693/1741084413.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tem['s'] = tem['state'].apply(lambda x: x[1].strip())
/var/folders/9y/dmmr14sx0_9f0fz6m10qf4000000gn/T/ipykernel_14693/1741084413.py:5: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  dat2= tem_filt.to_dict(orient='records')

In [92]:
final_df[final_df['postal_code'] == '14034']

Empty DataFrame
Columns: [postal_code, zip_name, demand_score, hotness_score, median_days_on_market, median_listing_price, supply_score, demand_score, state]
Index: []

In [78]:
final_df[final_df['median_listing_price'] == 12950000]

,postal_code,zip_name,demand_score,hotness_score,median_days_on_market,median_listing_price,supply_score,demand_score
35355,81612,"ASPEN, CO",12.69093273,10.20880728,124,12950000.0,7.726681833,12.69093273

In [72]:
import json
with open('zip_summary.json', 'w') as f:
    json.dump(final_dat, f, default=lambda x: 'null')

In [11]:
df['state'] = df['zip_name'].astype(str).apply(lambda x: x.split(',')[1] if len(x.split(',')) > 1 else None)
df['town'] = df['zip_name'].astype(str).apply(lambda x: x.split(',')[0])

df[['zip_name','town', 'state']].head(10)

             zip_name            town state
0     forest city, nc     forest city    nc
1     union mills, nc     union mills    nc
2  corpus christi, tx  corpus christi    tx
3  corpus christi, tx  corpus christi    tx
4  corpus christi, tx  corpus christi    tx
5           heber, az           heber    az
6         andrews, tx         andrews    tx
7     ponchatoula, la     ponchatoula    la
8         hammond, la         hammond    la
9      hood river, or      hood river    or

In [14]:
df[df['state'].isin( ['ny','nj','ct'])]

Empty DataFrame
Columns: [month_date_yyyymm, postal_code, zip_name, nielsen_hh_rank, hotness_rank, hotness_rank_mm, hotness_rank_yy, hotness_score, supply_score, demand_score, median_days_on_market, median_days_on_market_mm, median_dom_mm_day, median_days_on_market_yy, median_dom_yy_day, median_dom_vs_us, ldp_unique_viewers_per_property_mm, ldp_unique_viewers_per_property_yy, ldp_unique_viewers_per_property_vs_us, median_listing_price, median_listing_price_mm, median_listing_price_yy, median_listing_price_vs_us, quality_flag, town, state]
Index: []

[0 rows x 26 columns]

In [16]:
df['state'].unique()

array([' nc', ' tx', ' az', ' la', ' or', ' wi', ' va', ' ia', ' ct',
       ' mo', ' tn', ' pa', ' ut', ' oh', ' il', ' me', ' fl', ' ar',
       ' md', ' ks', ' ms', ' in', ' al', ' ga', ' ky', ' nd', ' sc',
       ' wy', ' mi', ' mn', ' nj', ' wa', ' ny', ' ma', ' mt', ' sd',
       ' ne', ' co', ' ok', ' nm', ' ca', ' id', ' wv', ' nh', ' dc',
       ' vt', None, ' nv', ' de', ' hi', ' ri', ' ak'], dtype=object)

In [18]:
df[df['state'].isna()]

,month_date_yyyymm,postal_code,zip_name,nielsen_hh_rank,hotness_rank,hotness_rank_mm,hotness_rank_yy,hotness_score,supply_score,demand_score,...,ldp_unique_viewers_per_property_mm,ldp_unique_viewers_per_property_yy,ldp_unique_viewers_per_property_vs_us,median_listing_price,median_listing_price_mm,median_listing_price_yy,median_listing_price_vs_us,quality_flag,town,state
1921,201810,5031,NaN,NaN,14380.0,-941.0,-1067.0,13.846008,2.507718,25.184298,...,0.332719,0.716850,0.622663,716000.0,-0.118227,-0.042140,2.419328,0.0,nan,None
2956,202011,623,NaN,NaN,8896.0,-1914.0,-5603.0,28.383128,21.581722,35.184534,...,-0.000887,2.052389,0.818135,199000.0,0.000000,0.171277,0.580018,0.0,nan,None
3985,202101,784,NaN,NaN,9341.0,-603.0,-4380.0,8.526813,2.537497,14.516129,...,0.437962,3.151180,0.515319,74000.0,-0.024387,-0.124234,0.220896,1.0,nan,None
4056,201912,680,NaN,NaN,14122.0,-697.0,179.0,4.724382,3.256040,6.192724,...,0.164030,0.036823,0.380175,112750.0,0.006696,0.025000,0.375959,0.0,nan,None
4485,202005,677,NaN,NaN,11974.0,1130.0,-342.0,15.421434,4.636901,26.205968,...,-0.029120,0.341898,0.648960,325000.0,0.007752,-0.327818,0.987842,1.0,nan,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
864515,201805,976,NaN,NaN,13859.0,-239.0,NaN,11.583510,22.697194,0.469825,...,-0.437387,NaN,0.145448,99700.0,-0.048210,-0.134361,0.332944,1.0,nan,None
864636,201711,659,NaN,NaN,15513.0,-340.0,NaN,1.309960,2.273165,0.346754,...,0.113522,NaN,0.125696,129975.0,-0.098960,0.087884,0.473584,0.0,nan,None
864646,201709,736,NaN,NaN,16156.0,92.0,NaN,0.460958,0.538300,0.383616,...,-0.138799,NaN,0.145379,84000.0,-0.034483,0.035439,0.305455,0.0,nan,None
864819,201712,983,NaN,NaN,14697.0,-435.0,NaN,4.546664,7.769574,1.323754,...,0.202202,NaN,0.204181,97000.0,-0.020202,0.039100,0.359392,0.0,nan,None
864972,quality_flag = 1: year-over-year figures may ...,please contact economics@realtor.com for more...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,None